<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="main.css">
  <script src="./jquery/dist/jquery.js"></script>
</head>

<body>
  <table class="table-triped">
    <thead>
      <tr>
        <th data-tag='name' >Name</th>
        <th data-tag='math' data-flag ='true'>Math</th>
        <th data-tag='english' data-flag ='true'>English</th>
        <th data-tag='chinese' data-flag ='true'>Chinese</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>90</td>
        <td>80</td>
        <td>98</td>
      </tr>
      <tr>
        <td>Larry</td>
        <td>75</td>
        <td>88</td>
        <td>89</td>
      </tr>
      <tr>
        <td>Seliner</td>
        <td>68</td>
        <td>78</td>
        <td>95</td>
      </tr>
    </tbody>
  </table>
  <script src="sort.js"></script>
</body>

</html>
